<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<meta charset="utf-8">
	<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/uikit.min.css" />
	<script src="js/uikit.min.js"></script>
	<script src="js/uikit-icons.min.js"></script>
	<script type='text/javascript' src='/js/buildReq.js'></script>
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Cairo|Charmonman|Cinzel|Dancing+Script|Gloria+Hallelujah|Great+Vibes|Indie+Flower|K2D|Kodchasan|Mali|Montserrat|PT+Sans|Pacifico|Permanent+Marker|Poiret+One|Roboto" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="uk-card uk-card-default uk-card-body uk-padding-small" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
    <div class="uk-margin-remove uk-padding-remove uk-width-1-1">
		<label class="uk-padding-remove uk-margin-remove uk-display-block"><%= title %></label>		
		<h1 class="uk-margin-remove-top">RoughPairPro</h1>
		<div class="uk-form-controls uk-padding-remove uk-display-block">
				<label class="uk-form-label" for="language">言語</label>
				<select class="uk-select uk-width-small" id="language" value="<%= language %>">
						<option value="c">c</option>
						<option value="cpp">cpp</option>
						<option value="objective-c">objective-c</option>
						<option value="java">java</option>
						<option value="kotlin">kotlin</option>
						<option value="scala">scala</option>
						<option value="swift">swift</option>
						<option value="csharp">csharp</option>
						<option value="go">go</option>
						<option value="haskell">haskell</option>
						<option value="erlang">erlang</option>
						<option value="perl">perl</option>
						<option value="python">python</option>
						<option value="python3">python3</option>
						<option value="ruby">ruby</option>
						<option value="php">php</option>
						<option value="bash">bash</option>
						<option value="r">r</option>
						<option value="javascript">javascript</option>
						<option value="coffeescript">coffeescript</option>
						<option value="vb">vb</option>
						<option value="cobol">cobol</option>
						<option value="fsharp">fsharp</option>
						<option value="d">d</option>
						<option value="clojure">clojure</option>
						<option value="elixir">elixir</option>
						<option value="mysql">mysql</option>
						<option value="rust">rust</option>
						<option value="scheme">scheme</option>
						<option value="commonlisp">commonlisp</option>
						<option value="plain">plain</option>
				</select>
				<label class="uk-form-label">roomId</label>
				<input id="roomId" class="uk-input uk-width-small uk-margin-remove" type="text" value="<%= room %>">					
				<label class="uk-form-label">roomPw</label>
				<input id="roomPw" class="uk-input uk-width-small" type="text" value="<%= pw %>">					
				<button id="" class="uk-button uk-button-small" onclick="javascript:window.history.back(-1);return false;">exit</button>
			</div>
	</div>
	<textarea  id="codeText" name="source_code"  class="uk-width-1-1 uk-textarea" placeholder="ここにコードを書いて実行ボタンを押してみよう。"><%= code %></textarea>
    <div class="uk-width-1-1">
			<button id="executeButton" onclick="buildReq();" class="uk-button uk-button-small">実行</button>
<!-- 			<div uk-spinner disabled></div> -->
			<button id="resultStatus" class="uk-button uk-button-small"  disabled>status : wait</button>
	</div>
	</div>

    <div class="uk-card uk-card-default uk-card-body uk-padding-small uk-margin-remove" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">

		<button id="stdoutbutton" class="uk-button uk-button-small" type="button" uk-toggle="target: #stdoutCard; animation: uk-animation-fade">stdIo</button>
		<button id="stderrbutton" class="uk-button uk-button-small" type="button" uk-toggle="target: #stderrCard; animation: uk-animation-fade">stdErr</button>
		<button id="msgbutton" class="uk-button uk-button-small" type="button" uk-toggle="target: #msg; animation: uk-animation-fade">chat</button>
		<div id="stdoutCard" class="uk-card uk-card-default uk-card-body uk-margin-remove uk-padding-remove" uk-height-match>
			<textarea  id="stdout" class="uk-width-1-1 uk-textarea uk-height-small" readonly placeholder="出力ログはありません。"></textarea>
			<div class="uk-inline">
				<button class="uk-form-icon uk-form-icon-flip" onclick="" uk-icon="icon: comment"></button>
				<input id="" class="uk-input" type="text">					
			</div>
		</div>
		<div id="stderrCard" class="uk-card uk-card-default uk-card-body uk-margin-remove uk-padding-remove" uk-height-match>
			<textarea  id="stderr" class="uk-width-1-1 uk-textarea uk-height-small" readonly placeholder="エラーログはありません。"></textarea>
			<div class="uk-inline">
				<button class="uk-form-icon uk-form-icon-flip" onclick="" uk-icon="icon: comment"></button>
				<input id="" class="uk-input" type="text">					
			</div>
		</div>
		<div id="msg" class="uk-card uk-card-default uk-card-body uk-padding-remove uk-margin-remove" uk-height-match>
			<textarea  id="msgout" class="uk-width-1-1 uk-textarea uk-height-small" readonly ></textarea>
			<div class="uk-inline">
				<input id="nameInput" class="uk-input uk-width-medium" type="text" value="">
				<button class="uk-form-icon uk-form-icon-flip" uk-icon="icon: comment" onclick="publishMessage();"></button>
				<input id="chatInput" class="uk-input uk-width-large" type="text" placeholder="メッセージを入力してチャットが送信できるよ。">					
			</div>
			
			<!-- <button class="uk-button uk-button-small" onclick="publishMessage();">送信</button> -->
			<!-- <input id="chatInput" type="text" class="" value="" /> -->
			<!-- <button onclick="publishMessage();" class="uk-button uk-button-small" >送信</button>	 -->
		</div>
	</div>	
	<div class="uk-card-footer uk-padding-small">
		<div>create by ninzingurasse <a href="https://github.com/ninzingurasse">github</a></label><label><a href="https://qiita.com/ninzingurasse">Qiita</a></div>
		<div>&#169; copyright 2018 ninzingurasse All rights reserved.</div>
	</div>
</body>
</html>